:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    }
    mat-form-field {
    width: 20%;
    }
    mat-icon {
    cursor: pointer;
    }
    mat-card {
    margin-top: 30px;
    margin-bottom: 80px; //não encontrei outra forma de separar do footer
    width: 300px;    
    }
    h1 {
    text-align: center;
    font-size: 2.5em;
    }
.img {
    width: 150px;
    margin-left: 20%;
   
}


