<main>
    <div class="p-5 mb-4 bg-light rounded-3" id="jumbotron">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Jumbotron Games!!</h1>
            <p class="col-md-8 fs-4">Compre ingressos para os próximos jogos e saiba onde serão as próximas partidas.</p>
            <p class="col-md-8 fs-4">Entre em contato para saber mais!</p>
            <button class="btn btn-primary btn-lg bg-dark" id="contato" type="button" routerLink="/contato">Contato</button>
        </div>
    </div>
</main>

<section>
    <div class="container py-3" id="cards">  
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2>Escolha os times desta temporada</h2>
                    <p>Saiba quais são os times da NBA que estão jogando esta temporada</p>
                    <button class="btn btn-outline-light" type="button" routerLink="/times">Times</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Encontre seu jogador favorito e conheça mais sobre ele</h2>
                    <p>Você pode saber tudo sobre os All-Star da NBA</p>
                    <button class="btn btn-outline-secondary" type="button" routerLink="/jogadores">Jogadores</button>
                </div>
            </div>
        </div>
    </div>
</section>