#cards {
    margin-bottom: 100px;
    margin-top: 50px;
}

#jumbotron { 
    margin-top: 30px;
    // background-image: url("https://10wallpaper.com/wallpaper/1366x768/1106/2010-11_NBA_Miami_Heat_Dwyane_Wade_WhiteHot_1366x768.jpg");
    background-image: url(../../../assets/_img/banner-dwyane-wade.jpg);
    background-size: cover;
    
  }

#contato :hover { 
    background-color: #ff8800;    
} 